*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #ffff00;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #ffff00 20%, #ffff00 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffff00 20%, #ffff00 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#000000 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #000000 3px, #ffff00 3px) -1.5px 0;
    background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
display: flex;
flex-flow: column;
text-align: center;
align-items: center;
justify-content: center;
font-family: 'Montserrat', Arial, sans-serif;
}

.grid{
    height: 100%;
    width: 80%;
    border: 4px solid black;
    box-shadow: 0 0 20px black;
    display: flex;
    flex-wrap: wrap;


}

.square{
    width: 33.33%;
    height: 200px;
    
    border: 2px solid black;
}
.mole{
    background-color: black;
}
button{
    margin-top: 2%;
    font-size: 2em;
    border: none;
    color: black;
    background-color: transparent;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em black;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;

}
.h2{
    margin-bottom: 4%;
}
h2{
    color: black;
    margin-bottom: 4%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em black;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
    
}
h2::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h2::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}
@media screen and (max-width:500px) {
    .square{
        height: 100px;

    }
    
}

@media screen and (min-width:900px) {
    .square{
        height: 250px;
    }
    
}


@media screen and (min-width:1900px) {
    .square{
        height: 300px;
    }
    
}

@media screen and (min-width:2900px) {
    .square{
        height: 400px;
    }
    
}
@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}